In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
df = pd.read_csv("features_table.csv",sep=';')
df = df.drop(columns=["OrderDate", "ShipDate","CreditCardApprovalCode"])
df.head()

,ShipMethodID,TerritoryID,CustomerID,OnlineOrderFlag,ShipToAddressID,BillToAddressID,OrderQty,UnitPrice,UnitPriceDiscount,TotalDue
0,5,5,29825,0,985,985,1,"2024,994","0,00","23153,2339"
1,5,5,29825,0,985,985,3,"2024,994","0,00","23153,2339"
2,5,5,29825,0,985,985,1,"2024,994","0,00","23153,2339"
3,5,5,29825,0,985,985,1,"2039,994","0,00","23153,2339"
4,5,5,29825,0,985,985,1,"2039,994","0,00","23153,2339"

In [41]:
df["UnitPrice"] = df["UnitPrice"].str.replace(',', '.').astype('float')
df["UnitPriceDiscount"] = df["UnitPriceDiscount"].str.replace(',', '.').astype('float')
df["TotalDue"] = df["TotalDue"].str.replace(',', '.').astype('float')
df.dtypes

ShipMethodID           int64
TerritoryID            int64
CustomerID             int64
OnlineOrderFlag        int64
ShipToAddressID        int64
BillToAddressID        int64
OrderQty               int64
UnitPrice            float64
UnitPriceDiscount    float64
TotalDue             float64
dtype: object

In [42]:
X = df.drop(columns='TotalDue',axis=1)
y = df[["TotalDue"]]

In [52]:
X_train, X_test, y_train,y_test = train_test_split(X,y, train_size=0.2,random_state=42)

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

print(f"MSE ---> {np.sqrt(mean_squared_error(y_pred,y_test))}")

MSE ---> 21468.835742277042